<h1>Showing list:</h1>
<h2><%= @list.name %></h2>
<br>
<h3>Movies:</h3>

<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <li>
      <%= bookmark.movie.title %>
      <!-- Delete link for each bookmark -->
      <%= link_to "Delete", list_bookmark_path(@list, bookmark),
      data: { turbo_method: :delete, turbo_confirm: "Are you bird???" },
      class: "btn btn-danger btn-sm rounded" %>
    </li>
  <% end %>
</ul>

<br>
<%= link_to "+ add a bookmark to this list",  new_list_bookmark_path(@list)%>
<br>
<br>
<%= link_to "go back to homepage ðŸ ",  lists_path%>
